.addInfo {
  margin-top: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.info {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
.infoLink {
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 5px 0 black;
  border-radius: 5px;
  background-color: #bbbbbb;
  transition: all 0.2s;

  &:hover {
    background-color: palevioletred;
    color: white;
  }
}

.infoLinkActive {
  background-color: palevioletred;
  box-shadow: slategrey 2px 2px 5px 2px;
}

.infoTitle {
  margin-bottom: 30px;
  text-align: center;
}
