.goBackBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
  border: 1px solid black;

  &:hover {
    background-color: palevioletred;
    color: white;
    box-shadow: slategrey 2px 2px 5px 2px;
  }
}
