.goBackBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 1px 5px 0 black;
  transition: all 0.2s;

  &:hover {
    background-color: palevioletred;
    color: white;
    box-shadow: slategrey 2px 2px 5px 2px;
  }
}

.titlePopular {
  text-align: center;
  color: palevioletred;
  text-transform: uppercase;
}

.titleTrending {
  text-align: center;
  color: palevioletred;
  text-transform: uppercase;
}
